body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* trying something  */

body {
  background-color: white;
  padding: 0;
  background-color: #fbfbfb;
}

.card {
  background-color: white;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1.5px solid #E0DDD6;
}

/* in card try using grid instead
  display: grid;
  justify-items: center; */

.about {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  margin-top: -50px;
}

.name {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: #f55b3a;
  letter-spacing: 2px;
  position: absolute;
  top: 180px;
}

.title {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #555555;
  position: absolute;
  top: 215px;
}

.line {
  background-color: #949594;
  height: 1.5px;
  width: 52px;
}

.bio {
  width: 85%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 10%;
  margin-top: 20px;
}

button {
  background-color: #fabe58;
  border: 1.5px solid #fabe58;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  font-family: "Work Sans", sans-serif;
  color: white;
  letter-spacing: 2px;
}

button:hover {
  background-color: white;
  border: 1.5px solid #E0DDD6;
  position: relative;
  top: 2px;
  color: #555555;
}

button.current {
  background-color: white;
  border: 1.5px solid #E0DDD6;
  color: #555555;
}

.photo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transform: rotate(-2deg);
  transform: translateY(-30px);

}

button:focus {
  outline: none;
}
/* another color i might use #f55b3a */
/* and another one #e44d10 */
/* yet another one #ff7665 */
/* might also change to green&red wintery color palette instead */